{:deps {org.clojure/clojurescript {:mvn/version "1.11.132"}

        cljsjs/react {:mvn/version "18.3.1-1"}
        cljsjs/react-dom {:mvn/version "18.3.1-1"}
        reagent/reagent {:mvn/version "1.2.0"}}
 :paths ["src" "resources"]
 :aliases
 {:fig
  {:extra-deps
   {com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
    com.bhauman/figwheel-main {:mvn/version "0.2.18"}}
   :extra-paths ["target"]}
  ;; clj -Mclj-kondo --lint src
  :clj-kondo
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2024.09.27"}}
   :main-opts ["-m" "clj-kondo.main"]}}}
