{:deps {org.clojure/clojurescript {:mvn/version "1.11.60"}
        reagent/reagent {:mvn/version "1.1.1"}
        ;; This is not dev only because of production build
        com.bhauman/figwheel-main {:mvn/version "0.2.18"}
        }
 :paths ["src" "target" "resources"]}
